* {
  margin: 0;
  padding: 0;
}
.home {
  background-color: rgb(93, 197, 119);
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}
.navbar {
  background-color: black;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 20px;
}
.navbuttons {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.editor {
  width: 30vw;
  height: 40vh;
  margin-top: 20px;
}

.editor-nav {
  height: 1vh;
  background-color: green;
  color: black;
}

.preview {
  width: 40vw;
  height: 50vh;
  margin-top: 20px;
  font-size: 20px;
  background-color: lightblue;
  border: 1px solid lightblue;
  box-shadow: 2px 2px 2px 2px;
}
